/*Faça um site com uma lista de itens (por exemplo, de brinquedos), que tenha:
um campo de input do item um botão para criar um item na lista*/
input{
    
    margin: 15px;
    height: 38px;
    font-size: 1.5em;
    border-radius: 4px;
    box-shadow: 1px 1px 2px #333333;
    background: orange;
    border: 5px solid #000000;
    width: 30%
    
}

button{
    margin: 15px ;
    height: 48px;
    background-color: green;
    
}
ol > li{
    font-size: 24px;
    font-weight: 700;
}