/* Crie um site com os seguintes requisitos:

um campo de texto (input) onde o usuário irá digitar uma mensagem

três botões:

um botão “adicionar”, que no momento do clique insira a mensagem na tela

um botão “salvar mensagem”, que no momento do clique salve as informações no localStorage
opcional: se o texto estiver vazio (length), deve mostrar uma mensagem ao usuário solicitando a inserção de algum texto.

um botão “mostrar mensagem”, que após o recarregamento da página, no momento do clique busque a mensagem no localStorage e exiba na tela
opcional: se não houver mensagem cadastrada no localStorage, deve mostrará na tela: “não há ítens salvos” */
h1 {
    color: #333;
}

input[type=text] {
    padding: 10px 7px;
    margin: 5px 2px;
    box-sizing: border-box;
    border-radius: 5px;
    width: 40%;
    background-color: #ddd;
}

input[type=text]:focus {
    background-color: #bbb;
}

button {
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

button[type=submit] {
    background-color: DodgerBlue;
}
