/* Construa um código javascript que irá remover de um array um item que irá ser passado no parâmetro desse método.
O fluxo consiste em capturar em um input html um item do array e ao apertar em um botão fazer com que esse item seja excluído (utilize o addEventListener de click).
Pode conferir no console.log() como está o array após a exclusão. */
button {
    
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: red;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

button:active{
    transform: translateY(4px);
}

input {
    font-size: 26px;
    width: 30%;
    border-radius: 15px;
    background-color: darkgray;
    height: 50px;
}

li h1{
    font-size: 26px;
}