body{
    
       background-color: green;
}
h1 {
    text-align: center;
    font-size: 20px;
    color: maroon;
}
p{
    font-size: 14px;
}
.btn1{
    height: 10px;
    width: 10px;
    padding: 10px;
    border-style: solid ;
    border-style: 2px;
    border-color: black ;
    margin: 20px;

}